@import "tailwindcss";

:root {
  --background: #f4dfdf;
  --foreground: #390202;
  --font-playpen-sans: 'Playpen Sans', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playpen-sans);
}

html,
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playpen-sans), Arial, Helvetica, sans-serif;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
