@import "tailwindcss";

:root {
  --background: #f4dfdf;
  --foreground: #390202;
  --font-playpen-sans: 'Playpen Sans', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-playpen-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-playpen-sans), Arial, Helvetica, sans-serif;
}
